<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/aravindanathdm/Downloads/JavaSelenium_Sowmya/src/test/java/Reports/TC_HM_001.java">
        <classes>
            <class name="Reports.TC_HM_001"/>

            <class name="Reports.TC_HM_002"/>

        </classes>
    </test>
</suite>